*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
input, select{
    border: 1px solid #858585;
    color: #353535;
    border-radius: 4px;
    padding: 0px 3px;
    height: 30px;
}
input:focus{
    outline: none;
}

body{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #e6e5e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.titulo{
    color: indigo;
}
#formulario{
    background-color: #fff;
    color: #353535;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
#datos{
    display: flex;
    gap: 2rem;
    justify-content: center;
    
}
.cell{
    display: flex;
    gap:  2rem;
}
.cell input{
    height: 30px;
    width: 30%;
}
.btn{
    color: white;
    background-color: indigo;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 6px 12px;
}
.input-año{
    margin: 8px;
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: start;
}

.input-año input{
    height: 30px;
    width: 60%;
}
main{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem   ;
}
#flujo{
    height: 100%;
    width: 40%;
    
}
#content-año {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
#config{
    padding-top: 7px;
    width: 80%;
}
#opciones{
    width: 60%;
    
}
#tasa2{
    display: none;
    margin: 1rem 0;
}

#res{
    border: 1px solid rgb(5, 117, 5);
    padding: 4px 8px;
    border-radius: 5px;
    margin: 1rem 0;
    display: none;
}

@media only screen and (max-width : 900px) {
    #formulario{
        width: 100%;
        height: auto;
    }
    #flujo{
        width: 100%;
    }
    main{
        flex-direction: column;
    }
    #datos{
        flex-direction: column;
    }
    body{
        padding: 1rem;
    }
    .input-año input{
        width: 40%;
    }
}